
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Impede rolagem horizontal */
  height: 100vh; /* Garante que o body tenha altura total */
}
body{
  font-family: "Poppins";
}
a {
  text-decoration: none;
}
.container {
  margin: 0px 20px;
  

}

.imagem {
  padding: 52px 11px;
}

.imagem img {
  width: 100%;
}

.textos {
  padding: 0 10px;
  margin-bottom: 70px;
  
}

h1 {
  color: #1F41BB;
  font-size: 35px;
  text-align: center; 
  font-weight: 600;
  margin-bottom: 23px;

}

p {
  text-align: center;
  font-size: 12px;
}

.actions-buttons {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;

}

.btn{
  border: none;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;

  transition: box-shadow 0.3s ease, background-color 0.3s;

}
.btn:hover {
  background-color: #7d93e4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:focus {
  outline: none;
}

.btn-small {
  width: 150px;
}

.btn-large {
  width: 100%;
}

.active {
  background-color: #1F41BB;
  color: white;
  box-shadow: 0 8x 16px 0 rgba(31, 65, 187, 0.3);;

} 

.login-header {
  margin-bottom: 60px;
  margin-top: 60px;
  padding: 0px 35px;
  text-align: center;

}

.login-header p {
  font-weight: bold;
  line-height: 25px;
  font-size: 14px;

} 



.login-form input {
  width: 100%;
  border-radius: 10px;
  background-color: #F1F4FF;
  color: #626262;
  padding-left: 20px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

.login-form input:hover {
  border: 1px solid #1F41BB;
}

.login-form input:focus {
  border: 0.25px solid #1F41BB;
  outline: none;
}

.forgot-password {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.forgot-password a {
  font-size: 14px;
  font-weight: bold;
}



.create-new-account {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.redes-sociais {
  margin-bottom: 60px;

}
.redes-sociais h2 {
  text-align: center;
  color: #1F41BB;
  font-weight: bold;
  font-size: 14px;


}

.logos {
  display: flex;
  justify-content:  center;
  gap: 10px;
  
}


.logos img {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #ECECEC;
  padding: 10px 20px;
}

.logos img:hover {
  background-color: #cac4c4;
}


.circulor-registro {
  width: 635px;
  background-color: #F8F9FF;
  height: 635px;
  border-radius: 50%;
  position: fixed;
  top: -500px;
  right:  -630px;
  z-index: -1;
  overflow: hidden;
  transform: translateX(-50%);
  pointer-events: none;
  overflow: hidden;
  

}

