:root {
    --yellow: #ffdb29;
    --black: #0a0908;
    --white: #ffffff;
    --green: #0e803c;
    --gray: #757575;
  }

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}


p {
    line-height: 1.5;
}



a, li {
    text-decoration: none;
    color: inherit;
    
}
ul {
    list-style-type: none;
}

header {
    display: flex;
    width: 100%;;
    background-color: var(--yellow);
    border: 1px solid green;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

header .container .logo img {
   width: 150px;
}

ul {
    display: flex ;
    gap: 30px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links li {
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-list {
    display: flex;
    gap: 20px;
}



.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px;
    border-radius: 2px;
}



body {
    width: 100%;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 1.5;
}

a, li {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    width: 100%;
    background-color: var(--yellow);
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

header .container .logo img {
    width: 150px;
}

ul {
    display: flex;
    gap: 30px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links li {
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-list {
    display: flex;
    gap: 20px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px;
    border-radius: 2px;
}

.container {
    width: 100%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    background-image: url(../assets/images/banner-feijoada.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 300px;
    text-align: start;
    width: 100%;
    margin-bottom: 60px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero-content {
    width: 80%;
    margin: 0 auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding-top: 40px;
    position: relative;
    z-index: 2;
}

.hero-text h1 {
    color: white;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
}

.hero-text p {
    color:  var(--yellow);
    margin-bottom: 10px;
}

.cardapio {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

.cardapio-galery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
    justify-content: space-between;
}

.mobile-menu {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0;
    right: -100%; /* Mantém fora da tela até ser ativado */
    width: 50%;
    height: 100%;
    background-color: var(--yellow); /* Cor de fundo do menu */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 2000;
    transition: right 0.3s ease; /* Suave transição ao aparecer */
    padding-top: 20px;
}

.mobile-menu.active {
    right: 0; /* Move o menu para a tela */
    display: block;
}

/* Estilização para o fundo escurecido */
.menu-overlay {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo transparente */
    z-index: 1000; /* Aparece atrás do menu */
}

.menu-overlay.active {
    display: block; /* Aparece quando o menu é ativado */
}





.container {
    margin-top: 400px;
    width: 100%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.btn {
    background-color: var(--white) ;
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #714926;
    color: var(--white);
}

.btn a {
    color: inherit;
}

.hero {
    background-image: url(../assets/images/banner-feijoada.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 300px;
    text-align: start;
    width: 100%;
    margin-bottom: 60px; 
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}


.hero-content {
    width: 80%;
    margin: 0 auto; 
    
}


.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;  
    padding-top: 40px;
    position: relative;
    z-index: 2;
    
  
}

.carrinho-mobile {
    display: none;
}




@media (max-width: 768px) {

    .carrinho-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        background-color: var(--yellow);
        border-radius: 10px;
        border: 1px solid black;
        bottom: 5px;
        position: fixed;
     
        margin-bottom: 10px;
    }
    
    .carrinho-mobile img {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;

        z-index: 20001;
    
        padding: 10px;
    }
    
    .mobi-content-car {
        display: flex;
        justify-content: flex-end;
        width: 80%;    
        margin: 0 auto;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        background-color: var(--yellow);
        position: fixed;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
        padding-top: 20px;
        transition: all 0.3s ease;
    }

    .nav-list.active {
        display: flex;
    }


    .nav-links {
        display: none; /* Esconde o menu em mobile */
        flex-direction: column;
        background-color: var(--yellow);
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
        justify-content: flex-end;
        background-color: var(--white);
        padding: 4px;
        border-radius: 5px;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg); 
        top: 8px;
        position: relative;
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0; 
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg); 
        top: -8px;
        position: relative;
    }

    .mobile-menu {
        border-radius: 15px;
    }

    .mobile-menu > span {
        color: red;
        font-size: 40px;
  
        display: flex;
        justify-content: end;
        width: 90%;
        margin: 10px auto;
        cursor: pointer;
    }
    

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .mobile-menu li {
       
        padding: 10px 30px;
        font-size: 20px;
    }

 



    .hero {
        height: 100vh;
        display: flex;
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;

    }
    .hero-text {
        margin: 0;
        
        width: 100%;
  
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1.75rem;
    }

    .hero-text h1, .hero-text p {
        text-align: center; /* Centraliza o conteúdo dentro do bloco */
    } 
    
    .chefe-content {
       
        display: flex;
        flex-wrap: wrap;
    }

    .chefe-content p {
        text-align: justify;
        margin-bottom: 1rem;
    }

    .cardapio-galery {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px; /* Largura máxima do card no mobile */
        padding: 20px;
        border: 1px solid var(--gray);
        border-radius: 10px;
        
    }

    .card-image {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .card-image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .card-price {
        color: var(--green);
        font-size: 18px;
        margin: 10px 0;
    }

    .btn-add {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        background-color: green;
        color: var(--white);
        width: 50px;
        height: 50px;
        padding: 10px;
        border-radius: 50%;
      margin-left: auto;
        cursor: pointer;
    }

    .btn-add:hover {
        background-color: rgb(66, 175, 66);
    }
}

.card:hover {
    border: 1.75px solid black;
}



.hero-text h1 {
    color: white;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
    

}

.hero-text p {
    color: #ffe94a;
    margin-bottom:10px;
}

.cardapio {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    margin: 0 auto;
}

.cardapio-galery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
 
    justify-content: space-between;
}

.cardapio-title{
    width: 80%;
    margin: 0 auto;

    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
   
}

.card {
    display: flex;
    flex: 1 1 48%;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 10px;
    width: 450px;
    gap: 15px;
    padding: 20px;
    justify-content: space-between;
    flex-direction: row;

    box-sizing: border-box;
    max-width: 100%;
}


.card-image img {
    width: 180px;
    border-radius: 10px;
}

.card-content {
    /* border: 1px solid green; */
    flex-grow: 1;
    
}

.card-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.card-description {
    
    margin-bottom: 20px;
}

.card-price {
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--green)
}

.btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    /* font-weight: bold; */
    background-color: var(--green);
    color: white;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;

    margin-left: auto;
    cursor: pointer;
}

.btn-add:hover {
    background-color: rgb(66, 175, 66);
}

.chefe {
    /* width: 80%; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;    
    gap: 30px;
    margin-bottom: 60px;
    
}

.chefe h2 {
 font-weight: bold;
 margin-bottom: 10px;
 font-size: 28px;
}

.chefe p {
    font-size: 18px;
   
}

.chefe-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 80%; 
    margin: 0 auto;
    gap: 20px;
 
}

.chefe-text {
    flex: 1 1 45%;
    min-width: 300px;
    text-align: left;
}

.chefe img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    flex: 1 1 45%;
    
}


footer {
    background-color: var(--yellow);
    bottom: 0;   
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


.footer-content {
    
    width: 80%;;
   
    display: flex;
    gap: 30px;
}

.cart-popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}



.cart-popup-content {
    background-color: var(--white);
    margin: 15% auto;
    border: 1px solid var(--gray);
    width: 80%;
    max-width: 50%;
    padding: 20px;
    position: relative;

}

.close-cart {
    color: var(--gray);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }


.close-cart:hover
.close-cart:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#cart-count {
    background-color: red;
    color: var(--white);
    border-radius: 50%;
    padding: 2px 8px;
    margin-left: 10px;
}


#toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: var(--green);
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.toast p {
    margin: 0;
    padding-left: 10px;
}

@keyframes fadein {

    from {
        opacity: 0;
        transform: translateY(20px);

    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}

@keyframes fadeOut  {
    from {
        opacity: 1;
        transform: translateY(0);

    }

    to {

        opacity: 0;
        transform: translateY(20px);

    }
}
.cart-popup-content > h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

#cart-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.btn-carrinho {
    display: flex;
    justify-content: center;
    bottom: 10px;
    margin-top: 40px;
}

#total-amount {
    font-weight: bold;
}

.btn-carrinho a {
    background-color: var(--yellow);
    color: var(--black);
    padding: 20px 30px;
    border-radius: 10px;
}

.btn-carrinho a:hover{
    border: 1px solid var(--gray);
   
}

